<div class="row text-center text-black mb-5">
  <div class="col-lg-7 mx-auto">
      <h1 class="display-4">Bookings List</h1>
      
    </div>
</div>
<br><br><br>
<div class="mat-table orders-table">
    <div class="mat-header-row">
      <div class="mat-header-cell">Booking Date</div>
      <div class="mat-header-cell">Finish Date</div>
      <div class="mat-header-cell">&nbsp;&nbsp;&nbsp; Status</div>
      <div class="mat-header-cell"></div>
    </div>
    <div  *ngFor="let r of reservation" class="mat-row" >
      <div class="mat-cell"><span class="order">{{r.startDate}}</span></div>
      <div class="mat-cell">{{r.finishDate}}</div>
      <div class="mat-cell" *ngIf="r.status==='In progress'"><img src="../../../../assets/images/pending.jpg" alt="Generic placeholder image" width="80" class="ml-lg-5 order-1 order-lg-2"></div>  
      <div class="mat-cell" *ngIf="r.status==='Canceled'"><img src="../../../../assets/images/canceled.jpg" alt="Generic placeholder image" width="80" class="ml-lg-5 order-1 order-lg-2"></div>  
      <div class="mat-cell" *ngIf="r.status==='bought'"><img src="../../../../assets/images/payed.jpg" alt="Generic placeholder image" width="80" class="ml-lg-5 order-1 order-lg-2"></div>  
      
      <div class="mat-cell">
        <div class="p-1 actions" *ngIf="r.status==='In progress'" >  
            <button (click)="checkout(r)" mat-mini-fab color="primary" matTooltip="Pay" class="btn-invoice">
                <mat-icon>check</mat-icon>
            </button>        
          <button (click)="getQuote()" mat-mini-fab color="primary" matTooltip="Get Quote" class="btn-invoice">
              <mat-icon>cloud_download</mat-icon>
          </button>
          <button  (click)="cancelReservation(r)" mat-mini-fab color="warn" matTooltip="Cancel Reservation" class="btn-invoice">
              <mat-icon>remove_shopping_cart</mat-icon>
          </button>
        </div>
      </div>      
    </div>
  </div>