<mat-card>
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
            <h2 class="text-muted text-center">Reset your Password</h2>
            <form [formGroup]="resetForm" (ngSubmit)="onResetFormSubmit(resetForm.value)">
                <mat-form-field appearance="outline" class="w-100 mt-1">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password" type="password" minlength="6"
                        required>
                    <mat-error *ngIf="resetForm.controls.password.errors?.required">Password is required</mat-error>
                    <mat-error *ngIf="resetForm.controls.password.hasError('minlength')">Password isn't long enough,
                        minimum of 6 characters</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100 mt-1">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password"
                        required>
                    <mat-error *ngIf="resetForm.controls.confirmPassword.errors?.required">Confirm Password is
                        required</mat-error>
                    <mat-error *ngIf="resetForm.controls.confirmPassword.hasError('mismatchedPasswords')">Passwords
                        do not match</mat-error>
                </mat-form-field>
                <div class="text-center mt-2">
                    <button mat-fab color="primary" class="mat-elevation-z6" type="submit">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                </div>
            </form>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2" *ngIf="result === 'invalid'">
            <p class="text-center" ><strong style="color: red;">sorry but this link is no more functionel, to generate an other click here ! </strong><br><br><br><br><button mat-fab color="primary" class="mat-elevation-z6" (click)="resendMail()">
                    <i class="material-icons">email</i>
                </button></p>            
        </div>
    </div>
</mat-card>