<h2 class="text-muted text-center">Forget Password</h2>
<form [formGroup]="forgetForm" (ngSubmit)="onForgetFormSubmit(forgetForm.value)">
    <mat-form-field appearance="outline" class="w-100 mt-2">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="forgetForm.controls.email.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="forgetForm.controls.email.hasError('invalidEmail')">Invalid email address
        </mat-error>
    </mat-form-field>
    <div class="text-center mt-2">
        <button mat-fab color="primary" class="mat-elevation-z6" type="submit">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</form>