<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div>
  <a mat-button [matMenuTriggerFor]="countsMenu" #countsMenuTrigger="matMenuTrigger">
      Show {{count}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
  </a>
  <mat-menu #countsMenu="matMenu" xPosition="before" class="app-dropdown" overlapTrigger="true">
      <span (mouseleave)="countsMenuTrigger.closeMenu()">
          <button mat-menu-item *ngFor="let count of counts" (click)="changeCount(count)">
              <span>{{count}}</span>
          </button>
      </span>
  </mat-menu>

</div>
<div class="mat-table orders-table" >
    <div class="mat-header-row">
      <div class="mat-header-cell">Title</div>
      <div class="mat-header-cell">Status</div>
      <div class="mat-header-cell">Date</div>
      <div class="mat-header-cell"></div>
    </div>
    <div *ngFor="let c of listClaim | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
      <div class="mat-cell"><span class="order">{{c.subject}}</span></div>
      <div class="mat-cell">{{c.status}}</div>
      <div class="mat-cell">{{c.date | date: 'MMM d, y, h:mm:ss a'}}</div>     
      <div class="mat-cell">
        <div class="p-1 actions">          
       <button mat-mini-fab color="primary" matTooltip="View" (click)="navigateToDetails(c)" >
              <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button  mat-mini-fab color="warn" matTooltip="View invoice" class="btn-invoice">
              <mat-icon>receipt</mat-icon>
          </button>
        </div>
      </div>      
    </div>
    <div *ngIf="listClaim.length > 0" fxLayout="row wrap">
      <div fxFlex="100"> 
          <mat-card class="p-0 text-center">           
              <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
          </mat-card>
      </div>
  </div>
  </div> 

