<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Company" disabled value={{agent.operator.nom}}>
                                  </mat-form-field>
                              </div>
                              
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email" disabled value={{agent.email}}>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Full Name" type="text" disabled value={{agent.name}}>
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Role" type="text" disabled value={{agent.agentRole}}>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="phone" type="text" disabled value={{agent.phone}}>
                                </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
