<mat-sidenav-container>
    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
             class="filter-row mat-elevation-z1 text-muted">
            <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <div>
                <a mat-button [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger">
                    {{sort}}
                    <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #sortMenu="matMenu" xPosition="before" class="app-dropdown" overlapTrigger="true">
                    <span (mouseleave)="sortMenuTrigger.closeMenu()">
                           <button mat-menu-item (click)="filter(null)">
                            <span>All</span>
                        </button>
                        <button mat-menu-item *ngFor="let cat of categoriesList" (click)="filter(cat.id)">
                            <span>{{cat.name}}</span>
                        </button>
                    </span>
                </mat-menu>
            </div>
        </div>

        <div *ngIf="viewType == 'grid'" fxLayout="row wrap" class="products-wrapper">
            <div *ngFor="let product of productClone" fxFlex="100"
                 [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="col">
                <mat-card class="product-item text-center">
                    <h4 class="category text-muted">{{ product.category.name }}</h4>
                    <p class="title text-truncate">
                        {{product.name}}
                    </p>
                    <div class="divider"></div>
                    <p class="text-truncate">
                       Description :  {{product.description}}
                    </p>
                </mat-card>
            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
